.card__paragraph {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #fff;
}

.card__paragraph:not(.card__paragraph:first-child) {
  padding-top: 26px;
}

@media screen and (max-width: 768px) {
  .card__paragraph {
    font-size: 16px;
  }
}

