.footer__container {
  width: 92.5%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}


@media screen and (max-width: 750px) {
  .footer__container {
    flex-direction: column;
  }
}

