.card__url {
  display: flex;
  flex-direction: column;
  justify-content: end;
}


@media screen and (max-width: 320px) {
  .card__url {
    padding: 0;
    padding-left: 16px;
    justify-content: flex-start;
  }
}
