.card {
  display: grid;
  column-gap: 40px;
  row-gap: 48px;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto;
  padding-bottom: 82px;
}

.card:last-child {
  padding-bottom: 92px;
}

@media screen and (min-width: 1280px) {
  .card {
    padding-right: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .card {
    column-gap: 32px;
    grid-template-columns: 440px 1fr;
  }
}

@media screen and (max-width: 768px) {
  .card {
    column-gap: 27px;
    padding-bottom: 29px;
    grid-template-columns: 340px 1fr;
    row-gap: 29px;
  }

  .card:last-child {
    padding-bottom: 90px;
  }

  .card:first-child {
    padding-bottom: 22px;
  }

  .card:not(.card:first-child) {
    row-gap: 47px;
  }
}


@media screen and (max-width: 600px) {
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }
}


@media screen and (max-width: 320px) {
  .card {
    grid-template-rows: 62px 79px auto auto;
    padding-bottom: 47px;
    row-gap: 0;
  }

  .card:first-child {
    padding-bottom: 57px;
  }

  .card:not(.card:first-child) {
    row-gap: 0;
  }
   .card:nth-child(4) {
    padding-bottom: 69px;
   }

   .card:last-child {
    padding-bottom: 56px;
   }


}
