.intro__title {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #fff;
  max-width: 700px;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .intro__title {
    max-width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .intro__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 210px;
    line-height: 35px;
  }
}
